# Python 가상환경 및 불필요 파일 제외
env/
venv/
__pycache__/
*.pyc
*.pyo

# 운영 체제 및 편집기 설정 파일
.DS_Store
Thumbs.db
desktop.ini
.vscode/
.idea/

# Alembic
app/db/migrations/versions/

# PostgreSQL
*.pg_dump
*.sql

# 환경 변수 파일
.env

# 로그 파일
*.log

# Python 환경 및 빌드
*.egg-info/
dist/
build/

# pytest
.pytest_cache/
